<%= render 'optimadmin/shared/header/main_title', title: 'Edit Application' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: applications_path, title: 'Application' %>

  <%= render 'form', application: @application %>
</div>