<footer>
  <div class="row">
    <div class="small-12 columns">
      <p>Recruit4Health NHS Locum Doctor Registration Bonus Terms & Conditions</p>
      <p>The Recruit4Health NHS Locum Doctor Registration Bonus scheme and the terms and conditions constitute the entire agreement between the parties. In the event of conflict between this NHS Locum Doctor Registration Bonus scheme and the terms and conditions, the terms and conditions shall prevail. The Recruit4health NHS Locum Doctor Registration Bonus scheme and these terms and conditions refer to any instances of a valid candidate Registration for Recruit4health.</p>
      
      <ul>
        <li>The new bonuses outlined below are effective as of the 10th August 2015. Any registrations made before this will not be eligible for the bonus.</li>
        <li>Excludes candidates that are already registered with Recruit4health and actively seeking work. </li>
        <li>To qualify for a reward, you must be fully registered and have sent all necessary paperwork to CCS framework standards within 4 weeks of initial enquiry and placed within a 6 month period.</li>
        <li>Once placed in a role or assignment through Recruit4health, the referrer will be eligible for their bonus only after the referee has completed 700 hours NHS Locum work.</li>
        <li>The above hours must be completed within 12 months of you being activated to work with Recruit4health to be eligible for your bonus.</li>
        <li>If you leave Recruit4health prior to completing the hours outlined above or prior to the 12 months and then attempt to re-activate their registration you will not be eligible for your bonus.</li>
        <li>Applicants must have experience working in the NHS.</li>
        <li>Upon your successful registration and completion of 700 hours, you will receive up to £1000.</li>
        <li>Alternatively you can choose to receive, upon your successful registration and completion of 350 hours, you will receive up to £500.</li>
        <li>Recruit4health reserves the right to offer an alternative reward of the same value at any time.</li>
        <li>You will be responsible for the payment of Income tax and National Insurance on all monies received.</li>
        <li>Recruit4health’s decision is final.</li>
      </ul>

      <p>Nothing in this agreement shall limit or exclude any party's liability for fraud or for death or personal injury caused by the negligence, or to the extent otherwise not permitted by law.</p>

    </div>
  </div>
</footer>